.analysis_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  position: relative;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.page_header {
  color: #4285f4;
  font-size: 36px;
}

.chart_header {
  color: #4285f4;
  font-size: 1rem;
}

.analysis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.2rem;
}

.chart {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 0.8rem;
  color: #4285f4;
}

.chartSubContainer {
  margin-top: 0.5rem;
  border-collapse: collapse;
  overflow: hidden;
  background-color: #ededed;
  border: solid 1px #4285f4;
}
