.inventory_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  position: relative;
}

.page_header {
  color: #4285f4;
  font-size: 36px;
}

.print_button {
  position: fixed;
  z-index: 1;
  bottom: 50px;
  right: 50px;

  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 7%;
  text-decoration: none;
  font-size: 24px;
}
