.tableMainContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.table_header {
  color: #4285f4;
  font-size: 1rem;
}

.analysis {
  padding: 0.2rem;
}

.description {
  font-size: 0.8rem;
  color: #4285f4;
}

.tableSubContainer {
  margin-top: 0.5rem;
}
.table {
  border-collapse: collapse;
  overflow: hidden;
  border: #4285f4 1px solid;
}

.thead {
  color: #4285f4;
}

.th,
.td {
  padding: 0.5rem;
  background-color: #ededed;
  font-size: 0.8rem;
  border: #727272 1px solid transparent;
}
.th {
  text-align: left;
}
